<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sympto.AI</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/information.css">
    <link rel="stylesheet" href="/static/slider_cards_footer.css">
    <link rel="stylesheet" href="/static/slider.css">
    <link rel="stylesheet" href="/static/cards.css">
    <link rel="stylesheet" href="/static/footer.css">
</head>

<body>
    <script src="/static/script.js"></script>
    <!--Header-->
<div class="first_part">
    <div class="header">
        <h2 id="logo">Sympto.AI</h2>
        <div class="nav">
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'dept' %}">Departments</a></li>
              <li><a href="{% url 'dept' %}">Analysis</a></li>
              <li><a href="{% url 'dept' %}">Contacts</a></li>
         
            </ul>
        </div>
    </div>

    <!--Second Div block-->
    <div class="second_div">
        <div class="info_text">
            <h2>............</h2>
            <h1>About Page</h1>
            <h3>..........................</h3>
        </div>
    </div>

<!-- information of Disease -->
<div class="information">
<div class="Disease_info">
    <div class="Button_box">    
        <div class="bb">
        <button id="buttn" onclick="showPara(1)">
            <img id="im"src="./src/Button_img/icons8-medical-heart-40.png" alt="">Heart Disease</button>
        <button id="buttn" onclick="showPara(2)">
            <img id="im" src="./src/Button_img/icons8-liver-40.png" alt="">
            Liver Disease</button>
        <button id="buttn" onclick="showPara(3)">
            <img id="im"src="./src/Button_img/icons8-diabetes-40.png" alt="">Diabetes</button>
        <button id="buttn" onclick="showPara(4)">
            <img id="im"src="./src/Button_img/icons8-cancer-ribbon-40 (1).png" alt="">
            Brest Cancer</button>
        </div>
    
    </div>

    <div class="Disease_para">
        <p id="paragraph1">This is the first paragraph. It's shown by default.</p>
        <p id="paragraph2" class="hidden">This is the second paragraph.</p>
        <p id="paragraph3" class="hidden">This is the third paragraph.</p>
        <p id="paragraph4" class="hidden">This is the fourth paragraph.</p>
        
    </div>
</div>
</div>
</div>
<!--slider cards footer-->
<div class="slider_cards_footer">
    <div class="slider">
    <div class="slider_disease">
        <div class="prompt">Heart
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eos, explicabo sit enim harum totam. Necessitatibus corrupti quo odit nam?</p>
        </div>
        <div class="prompt">Liver
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eos, explicabo sit enim harum totam. Necessitatibus corrupti quo odit nam?</p>
        </div>
        <div class="prompt">Dia
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eos, explicabo sit enim harum totam. Necessitatibus corrupti quo odit nam?</p>
        </div>
        <div class="prompt">Brest
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eos, explicabo sit enim harum totam. Necessitatibus corrupti quo odit nam?</p>
        </div>
    </div>
    </div>

    <div class="cards">
        <p id="Classification">
            Classification Models
        </p>

        <div class="allcards">
            <div class="card">
                <div class="card-inner">
                  <div class="card-front">Front</div>
                  <div class="card-back" >Back 1</div>
                </div>
              </div>
              
              <div class="card" >
                <div class="card-inner">
                  <div class="card-front">Front</div>
                  <div class="card-back" >Back 2</div>
                </div>
              </div>

              <div class="card" >
                <div class="card-inner">
                  <div class="card-front">Front</div>
                  <div class="card-back" >Back 2</div>
                </div>
              </div>

              <div class="card" >
                <div class="card-inner">
                  <div class="card-front">Front</div>
                  <div class="card-back" >Back 2</div>
                </div>
              </div>

              <div class="card" >
                <div class="card-inner">
                  <div class="card-front">Front</div>
                  <div class="card-back" >Back 2</div>
                </div>
              </div>

              <div class="card" >
                <div class="card-inner">
                  <div class="card-front">Front</div>
                  <div class="card-back" >Back 2</div>
                </div>
              </div>

              <div class="card" >
                <div class="card-inner">
                  <div class="card-front">Front</div>
                  <div class="card-back" >Back 2</div>
                </div>
              </div>

              <div class="card" >
                <div class="card-inner">
                  <div class="card-front">Front</div>
                  <div class="card-back" >Back 2</div>
                </div>
              </div>
	</div>
                
        </div>
    
</div>


    <div class="footer">
        
        <div  class="ft">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero eveniet totam, non excepturi nam tenetur expedita veniam reiciendis esse nisi vel voluptate itaque debitis laborum repellat dignissimos dicta assumenda sit aperiam facilis laudantium odio illum quibusdam inventore. Ipsam laudantium minus iste repellat totam natus, quisquam quaerat debitis quia praesentium nulla repellendus qui consectetur dicta! Repellat doloremque quae reprehenderit earum fugit dicta fuga officiis provident. Doloremque, sed iste animi, excepturi earum laudantium perspiciatis similique dolorum saepe deserunt eius officiis tenetur odio neque velit nisi facilis, magni labore consequatur sint iure harum laborum. Doloremque cumque minima illum aliquam magni, nemo totam! Ut!</p>
        </div>

        <div class="ft">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum eius mollitia veniam voluptas quasi velit nisi necessitatibus numquam possimus dolore, accusantium obcaecati corrupti excepturi. Molestiae sapiente voluptate consequuntur architecto esse rerum amet harum quibusdam quisquam dolore. Quas laborum, excepturi iste quam optio ab provident ipsa itaque voluptate at. Magni, labore.</p>
        </div>

        <div class="ft">Lorem ipsum dolor sit amet consectetur adipisicing elit. In id quam minima exercitationem dolor architecto nihil laudantium quidem molestias assumenda! Fuga cumque veritatis labore eaque non officia officiis, enim, odit exercitationem deserunt, sint temporibus ipsum! Odio explicabo vitae aliquid? Saepe voluptatum aspernatur quisquam unde ad beatae facere odit neque, consectetur, cumque repellat in? Nisi, fuga, distinctio dignissimos, iste cupiditate accusamus iusto magnam provident consequuntur explicabo commodi dolor hic itaque laborum earum laboriosam. Aspernatur temporibus esse molestiae, facere minus illo dolorum corporis rerum quasi, perferendis animi tempora aperiam dicta numquam impedit. Expedita inventore neque esse ex! Aliquid, veritatis est sapiente blanditiis sequi quae, aliquam odio esse temporibus assumenda nulla beatae aut nemo qui quo at dolorum saepe iste asperiores reiciendis neque.
        </div>
            
        </div>
    </div>

</div>
</body>
</html>