<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>ML API</title>
   
  </head>

  <body>
    <div class="login">
      <h1>heart disease Prediction</h1>
      <br />

      <form action="user" >
        <input type="text" name="Age" placeholder="Age" required="required" />
        <input type="text" name="Gender" placeholder="Gender" required="required" />
        <input
          type="text"
          name="TB"
          placeholder="TB"
          required="required"
        />
        <input
          type="text"
          name="DB"
          placeholder="DB"
          required="required"
        />

        <input
          type="text"
          name="Alkphos"
          placeholder="Alkphos"
          required="required"
        />
        <input
          type="text"
          name="Alamine_Aminotransferase"
          placeholder="Alamine_Aminotransferase"
          required="required"
        />
        <input
          type="text"
          name="Aspartate_Aminotransferase"
          placeholder="Aspartate_Aminotransferase"
          required="required"
        />
        <input
          type="text"
          name="Total_Protiens"
          placeholder="Total_Protiens"
          required="required"
        />
        <input
          type="text"
          name="ALB"
          placeholder="ALB"
          required="required"
        />
        <input
          type="text"
          name="A/G Ratio"
          placeholder="A/G Ratio"
          required="required"
        />

        <button type="submit" class="btn btn-primary btn-block btn-large">
          Predict
        </button>
      </form>
     
    </div>
  </body>
</html>
